<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.project.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.yang.project.model.User">
        <result column="user_id" property="userId" />
        <result column="code" property="code" />
        <result column="nick_name" property="nickName" />
        <result column="head_img" property="headImg" />
        <result column="background" property="background" />
        <result column="sex" property="sex" />
        <result column="reg_time" property="regTime" />
        <result column="login_time" property="loginTime"/>
    </resultMap>

    <parameterMap id="User" type="com.yang.project.model.User"/>


    <sql id="Column_List">
        user_id, code, nick_name, head_img, background, sex, reg_time, login_time
    </sql>

    <select id="login" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Column_List" />
        from user
        <if test="code != null">
        where code = #{code}
        </if>
        <if test="code != null">
        and pwd = #{pwd}
        </if>
    </select>


</mapper>